/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

/* your custom css */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* .font-fira {
  font-family: 'Fira Code', monospace;
} */

.fixedHeaderContainer, .navPusher{
  font-family: 'Fira Code', monospace !important;
}

.gray-color, .postHeaderTitle a {
  color: #24292E;
}

.darkBackground {
  background: #24292E;
}

.projectLogo {
  display: contents !important;
  justify-content: flex-start !important;
}

.homeContainer {
  text-align: initial !important;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
